Temp
Library/ShaderCache
Library/metadata
Assets/SGA
Assets/SGA.meta
test_Data/
Assets/Tracker
Assets/Tracker.meta
Library/AssetServerCacheV3
Library/CurrentLayout.dwlt
Library/EditorUserBuildSettings.asset
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/ScriptMapper
Library/UnityAssemblies/UnityEditor.Advertisements.dll
Library/UnityAssemblies/UnityEditor.Android.Extensions.dll
Library/UnityAssemblies/UnityEditor.EditorTestsRunner.dll
Library/UnityAssemblies/UnityEditor.Graphs.dll
Library/UnityAssemblies/UnityEditor.Networking.dll
Library/UnityAssemblies/UnityEditor.TreeEditor.dll
Library/UnityAssemblies/UnityEditor.UI.dll
Library/UnityAssemblies/UnityEditor.WebGL.Extensions.dll
Library/UnityAssemblies/UnityEditor.WindowsStandalone.Extensions.dll
Library/UnityAssemblies/UnityEditor.dll
Library/UnityAssemblies/UnityEditor.xml
Library/UnityAssemblies/UnityEngine.Networking.dll
Library/UnityAssemblies/UnityEngine.Networking.xml
Library/UnityAssemblies/UnityEngine.UI.dll
Library/UnityAssemblies/UnityEngine.dll
Library/UnityAssemblies/UnityEngine.xml
Library/UnityAssemblies/version.txt
Library/assetDatabase3
Library/expandedItems
ProjectSettings/ProjectVersion.txt
buttonbashers.CSharp.Editor.csproj
buttonbashers.CSharp.csproj
buttonbashers.v12.suo
player_win_x86.pdb
player_win_x86_s.pdb
test.exe
